body{
    background-color: blue;
}
 
.title{
    background-color: white;
    color: black;
    text-align: center;
    font-size: 50px;
    padding: 20px 20px 20px 20px;

}
.parent{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.card{
    background-color: rgb(136, 83, 83);
    padding: 100px 200px 200px 80px;
    border-radius: 10px;
   border:0cqmax

}
img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    }
.parent {
    display: flex;
    justify-content: space-around;
    background-color: lightgray;
    padding: 20px;
}

.card1{ 
    background-color: lightblue;
    padding: 50px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
}
.card2{
    background-color: lightgreen;
    padding: 50px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
}
.card3{
    background-color: lightcoral;
    padding: 50px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
}